h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.qr-section {
  width: 320px;
  margin: 0 auto;
  padding: 150px 0;
}
.qr-container {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 288px;
  padding: 16px 16px 40px 16px;
}

.qr-card {
  border-radius: 20px;
}

.qr-img {
  border-radius: 10px;
  margin-bottom: 26px;
}

.qr-heading {
  font-weight: 700;
  font-size: 14px;
  width: 256px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin-bottom: 20px;
}

.qr-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #68778d;
  width: 256px;
}
@media screen and (min-width: 1440px) {
  .qr-section {
    max-width: 1440px;
    padding: 230px 0;
  }
}
